<?php

// --- Заполните эти два параметра ---
const YANDEX_SMARTCAPTCHA_SERVER_KEY = "Ваш ключ сервера";
const YANDEX_SMARTCAPTCHA_CLIENT_KEY = "Ваш ключ клиента";

// --- Кастомный путь к БД ---
const DATABASE_PATH = __DIR__ . '/../database/database.sqlite';

// --- Ниже регулярные выражения. Их трогать не нужно. ---

// Описывает структуру "слово, а за ним ноль или больше групп из 'пробел + слово'"
const NAME_PATTERN = '/^([A-Za-zА-Яа-яЁё]+(?:-[A-Za-zА-Яа-яЁё]+)*)(?:\s[A-Za-zА-Яа-яЁё]+(?:-[A-Za-zА-Яа-яЁё]+)*)*$/u';

/* Для валидации номера телефона*/
const PHONE_PATTERN = '/^(?:\+7\d{10}|8\d{10}|7\d{10})$/';

/* Для замены и удаления лишних пробелов*/
const SPACES_PATTERN = '/\s+/';

/* Для удаления символов в телефоне*/
const PHONE_DELETE_PATTERN = '/[^\d+]/';